<div class="our-vision">
    <div class="row">
        <div class="col-md-6">
            <div class="section-thumbnail">
                <div class="our-vision-item">
                    <img src=" {{visionThumbnail}} " />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="section-caption">
                <span class="bigletter">
                <span style="vertical-align: inherit;"> {{ bigLetter }} </span>
                </span>
                <h1 class="headline">
                    <span class="write-text">
                <span class="outer-wrapper">
                    <span class="inner-wrapper top"> {{headLine}} </span>
                    </span>
                    </span>
                </h1>
                <p class="description">
                    <span> {{description}} </span>
                </p>
            </div>
        </div>
    </div>
</div>
