<div class="container-fluid">
    <div class="row d-block">
        <header id="header" class="site-header">
            <nav class="navbar py-0">
                <div class="col-xs-6">
                    <a class="navbar-brand" routerLink="">
                        <img src="{{logoImage}}" alt=" {{alternatetext}} " class="logo">
                    </a>
                </div>
                <div class="col-xs-6 menu-actions">
                    <div class="hamburger-menu mobile-menu-toggle" [class.open]='isOpen' (click)="onClick()">
                        <span class="menu-item"></span>
                        <span class="menu-item"></span>
                        <span class="menu-item"></span>
                    </div>
                    <div class="lets-talk">
                        <a routerLink="">Let's talk</a>
                    </div>
                </div>
            </nav>
            <div class="mobile-header-nav" [class.open]='isOpen'>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <navlinks></navlinks>
                        </div>
                        <div class="col-md-4">
                            <header-contact-us></header-contact-us>
                        </div>
                        <div class="col-md-3">
                            <subscribers></subscribers>
                            <div class="site-links">
                                <ul class="site-list-items">
                                    <li><a routerLink="#">Privacy Policy</a></li>
                                    <li><a routerLink="#">Terms of Service</a></li>
                                    <li>2019, All rights reserved</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
