@import '../../variables';
#header {
    box-shadow: 0px 5px 5px #999999;
    height: 80px;
    position: relative;
    .navbar {
        padding: 0px 50px;
        // z-index: 999;
        .navbar-brand {
            padding: 10px 0px;
        }
        .lets-talk {
            width: 120px;
            height: 40px;
            border-radius: 50px;
            border: solid 1px $primary_color;
            background-color: #ffffff;
            text-align: center;
            line-height: 38px;
            margin: 10px 20px;
            float: right;
            font-size: 16px;
        }
        .hamburger-menu {
            float: right;
            padding: 15px 0px;
            transition: all 0.3s ease-in-out;
            height: 60px;
            &:hover {
                cursor: pointer;
            }
            .menu-item {
                background: $primary_color;
                display: block;
                height: 3px;
                margin: 0 0 10px;
                transition: all 0.3s ease-in-out;
                width: 40px;
            }
            &.open {
                padding: 20px 0px;
                .menu-item {
                    margin: 0 0 5px;
                    &:first-child {
                        transform: rotate(45deg);
                        transform-origin: 10px;
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        transform-origin: 8px;
                    }
                }
            }
        }
    }
    .mobile-header-nav {
        background-color: #463177;
        display: none;
        list-style: none;
        margin: 0;
        padding: 35px 0px;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        font-size: 16px;
        line-height: 35px;
        z-index: 999;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        transition: all 500ms ease;
        &.open {
            display: block;
            -webkit-transform: translateY(0%);
            transform: translateY(-0%);
            transition: all 500ms ease;
        }
        .site-links {
            margin-top: 25px;
            .site-list-items {
                padding: 0;
                list-style: none;
                color: #ffffff;
                li {
                    a {
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
