<!-- Start Footer Section -->
<div id="footer" class="section-wrapper text-center">
    <footer-top></footer-top>
    <div class="footer-divider">
        <div class="divider-title">
            <h2 class="title">
                <span class="divider-logo">
                  <img src=" {{footerLogo}} " alt="Footer Logo" />
              </span> <span> {{logoTitle}} </span>
            </h2>
        </div>
    </div>
    <footer-main></footer-main>
    <footer-bottom></footer-bottom>
</div>
<!-- End Footer Section -->