#footer {
    background-image: url(../../assets/images/footer.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 0px;
    .footer-divider {
        margin: 30px 0px;
        .divider-title {
            font-family: Helvetica;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #d4c9ef;
            .title {
                position: relative;
                &:before,
                &:after {
                    content: '';
                    width: 32%;
                    height: 2px;
                    background: #d4c9ef;
                    position: absolute;
                    top: 25px;
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }
        }
    }
}