.our-clients {
    padding: 2% 0px;
    background: #5a4292;
    margin-bottom: 5%;
    .clients-list-items {
        padding: 0px 5%;
        display: flex;
        margin: 0 auto;
        .list-item {
            img {
                margin: 0 40px;
            }
        }
    }
}
