<div class="our-clients section-wrapper site-main">
    <div class="clients-list-items">
        <div class="list-item" *ngFor="let clientsLogo of clientsLogos">
            <img src="{{clientsLogo.clientsLogoIcon}}" alt="Clients" />
        </div>
    </div>
</div>
