<div class="header-contact-us">
    <div class="contact-list-items">
        <p *ngFor="let contactItem of headerContactItems">
            <img src="{{contactItem.imageUrl}}" alt="{{contactItem.alternatetext}}" /> {{ contactItem.title }}
        </p>
    </div>
    <div class="follow-us-top"></div>
    <div class="follow-us">
        <p>Follow Us</p>
        <ul class="social-list-items">
            <li *ngFor="let socialItem of headerContactSocialItems">
                <a routerLink="{{socialItem.link}}"><img src="{{socialItem.imageUrl}}" alt="{{socialItem.alternatetext}}" /></a>
            </li>
        </ul>
    </div>
</div>
