.header-contact-us {
    border-right: 2px solid #583d98;
    color: #ffffff;
    border-left: 2px solid #583d98;
    padding: 0px 20px;
    .contact-list-items {
        p {
            margin-bottom: 22px;
            line-height: 35px;
        }
    }
    img {
        margin-right: 15px;
    }
    .follow-us-top {
        background: #583d98;
        width: 75%;
        margin: 25px 15px;
        height: 1px;
    }
    .follow-us {
        p {
            display: inline-block;
            margin-bottom: 10px;
            border-bottom: 1px solid;
            font-size: 16px;
        }
        .social-list-items {
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
            }
        }
    }
}
