// Site Banner
.site-banner {
    position: relative;
    margin-bottom: 50px;
    .banner-img {
        img {
            position: absolute;
            right: 0px;
        }
    }
    .banner-caption {
        padding: 50px 55px;
        max-width: 650px;
        .bigletter {
            color: #f0eff3;
            font-size: 175px;
            font-weight: bolder;
            line-height: 1.5;
        }
        h1 {
            font-family: cambria;
            font-size: 35px;
            font-weight: bold;
            line-height: 1.5;
            color: #222222;
            position: absolute;
            top: 210px;
            left: 55px;
            .top {
                display: block;
                .headTitle {
                    color: #4f3b7d;
                }
            }
        }
        .short-description {
            margin: 20px 0px;
        }
    }
    .info-buttons-wrapper {
        position: absolute;
        left: 55px;
        margin: 0 auto;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        transition: all 2300ms ease 1800ms;
    }
}

@media screen and (max-width: 1366px) {
    .site-banner {
        .banner-img {
            img {
                width: 60%
            }
        }
        .banner-caption {
            .bigletter {
                font-size: 150px;
            }
            h1 {
                top: 190px;
                font-size: 30px;
                line-height: 36px;
                .top {
                    display: block;
                }
            }
            .short-description {
                margin: 10px 0px;
            }
        }
    }
}
