.nav-list-items {
    li {
        list-style: none;
        padding: 2px 0;
        transition: all 0.3s ease-in-out;
        a {
            color: #ffffff;
            text-decoration: none;
            line-height: 35px;
            &:active {
                border-bottom: 1px solid;
                display: inline-block;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}
