#contact-form {
    .form-group {
        margin-bottom: 5px;
        label {
            font-size: 16px;
            line-height: 22px;
            color: #5a4292;
        }
        .form-control {
            width: 100%;
            padding: 8px 20px;
            background: transparent;
            border: 1px solid #583d98;
            border-radius: 0px;
        }
    }
    .btn-send {
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #5a4292;
        line-height: 1;
        border: 2px solid #5a4292;
        border-radius: 30px;
        background-color: transparent;
        width: 220px;
        padding: 19px 0 17px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        outline: none;
        transition: 350ms ease;
        margin-top: 25px;
        &:hover {
            color: #ffffff;
            background-color: #5a4292;
        }
    }
}
