<div class="home-about">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-9">
                <div class="about-us-thumbnail">
                    <img src=" {{aboutThumbnail}} " class="img-fluid" alt="About Us">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-5">
            <div class="section-caption">
                <span class="bigletter">
                <span style="vertical-align: inherit;">{{bigLetter}}</span>
                </span>
                <h1 class="headline">
                    <span class="write-text">
                      <span class="outer-wrapper">
                          <span class="inner-wrapper top">{{headTitle}}</span>
                    </span>
                    </span>
                </h1>
                <p class="description">
                    <span>{{description}}</span>
                </p>
            </div>
        </div>
    </div>

</div>
