.home-about {
    .about-us-thumbnail {
        position: absolute;
        left: -85px;
        top: -50px;
    }
}

@media screen and (max-width: 1366px) {
    .home-about {
        .about-us-thumbnail {
            top: 0px;
        }
    }
}
