<div class="social-items">
    <div class="social-icons" *ngFor="let footerSocialItem of footerSocialItems">
        <a routerLink="{{footerSocialItem.link}}"><img src=" {{footerSocialItem.imageUrl}} " alt="{{footerSocialItem.alternatetext}}" /></a>
    </div>
</div>