<div class="address-items">
    <h6>Head Office</h6>
    <div class="list-items">
        <p *ngFor="let contactItem of contactItems">
            <span><img src="{{contactItem.itemIcon}}" alt="itemIcon"></span>
            <span>{{contactItem.detail}}</span>
        </p>
    </div>
</div>
