.info-buttons {
    .popart-btn {
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #333;
        line-height: 1;
        border: 2px solid #333;
        border-radius: 30px;
        background-color: transparent;
        width: 220px;
        padding: 19px 0 17px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        outline: none;
        -webkit-transition: 350ms ease;
        transition: 350ms ease;
        margin-right: 30px;
        &:before {
            content: "\f068";
            display: block;
            background-color: #ffffff;
            opacity: 0;
            position: absolute;
            top: 55%;
            left: 0px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            transition: all 350ms ease;
            font-family: fontAwesome;
            font-size: 3px;
        }
        &:after {
            content: "\f105";
            font-size: 25px;
            color: #ffffff;
            opacity: 0;
            position: absolute;
            top: 30%;
            right: 15px;
            transition: all 350ms ease;
            font-family: FontAwesome;
            font-weight: 300;
        }
        &:hover {
            background: #5a4292;
            text-decoration: none;
            color: #ffffff;
            border: 2px solid transparent;
            &:before {
                opacity: 1;
                width: 25px;
                left: 173px;
            }
            &:after {
                opacity: 1;
                text-indent: 0;
            }
        }
    }
}
