<div class="info-buttons">
    <a *ngFor="let infolink of infolinks" routerLink="{{infolink.link}}" class="popart-btn show">
        <span style="vertical-align: inherit;">{{ infolink.name }} </span>
    </a>
</div>
