<div class="footer-bottom">
    <div class="row">
        <div class="col-sm-6">
            <div class="bottom-menu text-left">
                <a href="#" class="bottom-menu-item privacy-policy">Privacy Policy</a>
                <a href="#" class="bottom-menu-item ">Terms of Service</a>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <div class="copyrights">
                &copy; 2019, All Rights Reserved.
            </div>
        </div>
    </div>
</div>
