.footer-bottom {
    background-color: #463177;
    margin-left: -60px;
    width: 110%;
    padding: 10px;
    .bottom-menu {
        margin-left: 50px;
        .bottom-menu-item {
            font-family: Helvetica;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #d4c9ef;
            padding: 0px 20px;
            &.privacy-policy {
                padding-left: 0px;
                border-right: 2px solid #d4c9ef;
            }
        }
    }
    .copyrights {
        margin-right: 85px;
        font-size: 14px;
        line-height: 2.5;
        text-align: right;
        color: #d4c9ef;
    }
}
