.services-banner {
    .services-tabs {
        position: relative;
        .tabs-border {
            position: absolute;
            top: 40px;
            left: 6px;
            width: 1px;
            height: 245px;
            border-right: 1px dashed #463177;
            transition: height 0.5s;
        }
        input {
            display: none;
            &:checked+label {
                color: #5a4292;
                &:before {
                    background: #5a4292;
                }
            }
        }
        label {
            display: block;
            position: relative;
            margin: 0 0 0px;
            padding: 25px 0px;
            width: 20%;
            &:hover {
                color: #5a4292;
                cursor: pointer;
            }
            &:before {
                content: "";
                width: 12px;
                height: 12px;
                border-radius: 50px;
                position: absolute;
                background: #f0eff3;
                top: 33px;
                left: 0px;
                border: 1px solid #5a4292;
            }
            span {
                margin-left: 20px;
            }
        }
        section {
            width: 85%;
            position: absolute;
            top: 0%;
            right: 0;
            display: none;
            padding: 0px 55px;
            .services-banner-thumbnail {
                text-align: center;
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
        .info-buttons-wrapper {
            position: absolute;
            bottom: 0;
            left: 15%;
        }
    }
}

#tab1:checked~#webDesign,
#tab2:checked~#webDevelopment,
#tab3:checked~#graphicDesign,
#tab4:checked~#seo {
    display: flex;
}

@media screen and (max-width: 1366px) {
    .services-banner {
        .services-tabs {
            .tabs-border {
                top: 50px;
                height: 225px;
            }
            label {
                padding: 25px 0px;
            }
            section {
                padding-right: 0px;
                .section-caption {
                    .description {
                        width: 100%;
                    }
                    .draggable-btn {
                        .x-btn {
                            right: 25px;
                            top: -35px;
                        }
                    }
                }
                .services-banner-thumbnail {
                    text-align: center;
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
