<div class="footer-contact-us">
    <p *ngFor="let footerContactItem of footerContactItems">
        <img src=" {{footerContactItem.imageUrl}} " alt="{{footerContactItem.alternateText}}" />
        <span> {{footerContactItem.title}} </span>
    </p>
</div>