<div class="services-banner">
    <div class="services-tabs">
        <span class="tabs-border"></span>
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1"><span>Web Design</span></label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2"><span>Web Development</span></label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3"><span>Graphic Design</span></label>

        <input id="tab4" type="radio" name="tabs">
        <label for="tab4"><span>SEO</span></label>

        <section id="{{servicesItem.id}}" *ngFor="let servicesItem of servicesItems">
            <div class="col-sm-6">
                <div class="services-banner-thumbnail">
                    <img src="{{servicesItem.thumbnail}}" class="image" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="section-caption">
                    <span class="bigletter">{{servicesItem.bigLetter}}</span>
                    <h1 class="headline">
                        <span class="write-text">
                  <span class="outer-wrapper"><span class="inner-wrapper top">{{servicesItem.headLine}}</span></span>
                        </span>
                    </h1>
                    <div class="description">
                        <p>{{servicesItem.description}}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
