#portfolio {
    .portfolio-list-item {
        &.odd {
            .portfolio-item {
                flex-direction: row-reverse;
            }
        }
        .portfolio-content {
            .section-caption {
                .project-status h5 {
                    font-size: 22px;
                    font-weight: bold;
                    margin: 15px 5px;
                    color: #5a4292;
                }
                .description {
                    p {
                        margin-bottom: 5px;
                        max-width: 600px;
                    }
                }
                .draggable-btn {
                    margin: 0px;
                    bottom: 0px;
                    right: 10%;
                }
            }
            .desc-list-items {
                margin: 0;
                li {
                    list-style: none;
                    position: relative;
                    font-size: 16px;
                    line-height: 36px;
                    &:before {
                        content: '';
                        background: #e9e5e5;
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        left: -20px;
                        top: 40%;
                        border-radius: 50px;
                    }
                }
                .project-link {
                    margin-left: -20px;
                    img {
                        margin-right: 5px;
                    }
                }
            }
        }
        .portfolio-thumbnail {
            text-align: center;
            img {
                width: 80%;
            }
        }
    }
}

@media (max-width: 1366px) {
    #portfolio {
        .portfolio-list-item {
            .portfolio-thumbnail {
                text-align: center;
                img {
                    width: 100%;
                }
            }
        }
    }
}
