<div id="portfolio-banner" class="section-wrapper">
    <services-banner></services-banner>
</div>
<div id="portfolio" class="section-wrapper">
    <div class="portfolio-list-items">
        <div class="portfolio-list-item" *ngFor="let portfolioListItem of portfolioListItems; let i = index" [ngClass]="{'odd': i%2==0, 'even':i%2==1}">
            <div class="row portfolio-item">
                <div class="col-sm-6">
                    <div class="portfolio-content">
                        <div class="section-caption">
                            <span class="bigletter">{{portfolioListItem.bigLetter}}</span>
                            <h1 class="headline">
                                <span class="write-text">
                              <span class="outer-wrapper">
                                <span class="inner-wrapper top">{{portfolioListItem.headLine}}</span>
                                </span>
                                </span>
                            </h1>
                            <div class="project-status">
                                <h5>{{portfolioListItem.projectStatus}}</h5>
                            </div>
                            <div class="description">
                                <p>{{ portfolioListItem.description }} </p>
                                <ul class="desc-list-items">
                                    <li class="desc-list-item" *ngFor="let feature of portfolioListItem.features">{{feature.listItem}}</li>
                                    <a class="project-link" href="{{portfolioListItem.projectLink}}" target="_black"><img src="../../assets/images/icons/link.png" /> {{portfolioListItem.projectLink}} </a>
                                </ul>
                            </div>
                            <div class="draggable-btn">
                                <div class="x-btn load-cta" [class.selected]="portfolio === selectedPortfolio" (click)="onSelect(portfolio)"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="portfolio-thumbnail">
                        <img src=" {{portfolioListItem.projectThumbnail}} " class="image" />
                    </div>
                </div>
            </div>
        </div>
        <!-- <div *ngIf="selectedPortfolio">
            <h2>{{selectedPortfolio.headLine | uppercase}} Details</h2>
            <div><span>id: </span>{{selectedPortfolio.id}}</div>
            <div> <span>Name: </span>{{selectedPortfolio.headLine}}
            </div>
        </div> -->
    </div>
</div>
