<div class="contact-us-banner">
    <div class="banner-img">
        <img src=" {{bannerImage}} " alt="Banner Image" />
    </div>
    <div class="banner-caption">
        <span class="bigletter animate-bigletter show"> {{bigLetter}} </span>
        <h1 class="headline">
            <span class="inner-wrapper top"> {{headlineTop}} </span>
        </h1>
        <p class="short-description"> {{shortDescription}} </p>
    </div>
</div>
