<div id="portfolio-banner">
    <home-banner></home-banner>
</div>
<div id="features" class="section-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="section-caption portfolio-headline">
                <span class="bigletter">
                  <span style="vertical-align: inherit;"> {{ bigLetter }} </span>
                </span>
                <h1 class="headline">
                    <span class="write-text">
                      <span class="outer-wrapper">
                        <span class="inner-wrapper top"> {{headLine}} </span>
                    </span>
                    </span>
                </h1>
                <p class="description">
                    <span> {{description}} </span>
                </p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="section-content">
                <div class="portfolio-details-items">
                    <div class="col-sm-4 portfolio-details-list" *ngFor="let featuresItem of featuresItems; let i = index" [ngClass]="{'odd': i==1, 'even':i==4}">
                        <div class="works-item-head">
                            <h5 class="title "><span class="work-item-count "> {{featuresItem.id}} </span> {{featuresItem.title}} </h5>
                            <p> {{featuresItem.description}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="design" class="section-wrapper">
    <div class="row">
        <div class="col-md-9">
            <div class="section-content">
                <div class="portfolio-details-items">
                    <div class="col-sm-4 portfolio-details-list" *ngFor="let designItem of designItems; let i = index" [ngClass]="{'odd': i==1, 'even':i==4}">
                        <div class="works-item-head">
                            <h5 class="title "><span class="work-item-count "> {{designItem.id}} </span> {{designItem.title}} </h5>
                            <p> {{designItem.description}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="section-caption portfolio-headline">
                <span class="bigletter">
                  <span style="vertical-align: inherit;"> {{ bigLetter1 }} </span>
                </span>
                <h1 class="headline">
                    <span class="write-text">
                      <span class="outer-wrapper">
                        <span class="inner-wrapper top"> {{headLine1}} </span>
                    </span>
                    </span>
                </h1>
                <p class="description">
                    <span> {{description1}} </span>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="development" class="section-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="section-caption portfolio-headline">
                <span class="bigletter">
                  <span style="vertical-align: inherit;"> {{ bigLetter2 }} </span>
                </span>
                <h1 class="headline">
                    <span class="write-text">
                      <span class="outer-wrapper">
                        <span class="inner-wrapper top"> {{headLine2}} </span>
                    </span>
                    </span>
                </h1>
                <p class="description">
                    <span> {{description2}} </span>
                </p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="section-content">
                <div class="portfolio-details-items">
                    <div class="col-sm-4 portfolio-details-list" *ngFor="let developmentItem of developmentItems; let i = index" [ngClass]="{'odd': i==1, 'even':i==4}">
                        <div class="works-item-head">
                            <h5 class="title "><span class="work-item-count "> {{developmentItem.id}} </span> {{developmentItem.title}} </h5>
                            <p> {{developmentItem.description}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
