<div class="footer-top">
    <div class="have-idea">
        <div class="head">
            <h3> {{title}} </h3>
            <p> {{description}} </p>
        </div>
        <div class="lets-talk">
            <a routerLink="{{letsTalkUrl}}" class="tals-btn"> {{letsTalkBtn}} </a>
        </div>
    </div>
</div>