.footer-top {
    .have-idea {
        color: #ffffff;
        max-width: 700px;
        margin: 10% auto 0;
        .tals-btn {
            margin: 0 auto;
            border-radius: 50px;
            box-shadow: 0 1.5px 3px 0 #00000029;
            background-color: #fbfbfb;
            vertical-align: middle;
            padding: 15px 60px;
            font-family: Helvetica;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.63;
            letter-spacing: normal;
            text-align: left;
            color: #5a4292;
        }
    }
}