<div class="our-projects">
    <div class="row">
        <div class="col-md-6">
            <div class="section-caption">
                <span class="bigletter">
                <span style="vertical-align: inherit;"> {{bigLetter}} </span>
                </span>
                <h1 class="headline">
                    <span class="write-text">
                    <span class="outer-wrapper"><span class="inner-wrapper top">{{headTitle}}</span></span>
                    </span>
                </h1>
                <p class="description">
                    <span>{{description}}</span>
                </p>
                <div class="draggable-btn">
                    <a class="x-btn load-cta" routerLink="portfolio"><span></span></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="section-content">
                <div class="our-projects-items">
                    <div class="projects-items-list" *ngFor="let projectsItem of projectsItems">
                        <div class="projects-item-thumbnail">
                            <img src="{{projectsItem.projectThumbnail}}" class="img-fluid" alt="Project">
                        </div>
                        <div class="projects-content">
                            <h4 class="head">
                                <span>{{projectsItem.projectTitle}}</span>
                            </h4>
                            <p class="description">
                                <span> {{projectsItem.projectDescription}} </span>
                            </p>
                            <a routerLink="{{projectsItem.seeDetailsLink}}">{{projectsItem.seeDetails}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
