.our-projects {
    .section-caption {
        margin-top: 60px;
    }
    .section-content {
        .our-projects-items {
            display: flex;
            .projects-items-list {
                position: relative;
                overflow: hidden;
                .projects-content {
                    position: absolute;
                    top: 90%;
                    padding: 20px;
                    width: 92%;
                    background: #5a4292;
                    height: 91%;
                    margin: 18px;
                    color: #fff;
                    border-radius: 5px;
                    opacity: 0;
                    -webkit-transform: translateY(0%);
                    -ms-transform: translateY(0%);
                    transform: translateY(0%);
                    -webkit-transition: all 350ms ease;
                    transition: all 350ms ease;
                    .head {
                        font-size: 25px;
                    }
                    .description {
                        font-size: 18px;
                    }
                    a {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        color: #ffffff;
                        font-size: 18px;
                        &:after {
                            content: "\f105";
                            margin: 0px 10px;
                            font-family: fontAwesome;
                            font-size: 25px;
                        }
                    }
                }
                &:hover {
                    cursor: pointer;
                    .projects-content {
                        opacity: 1;
                        -webkit-transform: translateY(-100%);
                        -ms-transform: translateY(-100%);
                        transform: translateY(-100%);
                        -webkit-transition: all 350ms ease;
                        transition: all 350ms ease;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .our-projects {
        .section-caption {
            margin-top: 0px;
        }
        .section-content {
            .our-projects-items {
                .projects-items-list {
                    .projects-content {}
                }
            }
        }
    }
}
