#service {
    .service-list-item {
        &.odd {
            .service-item {
                flex-direction: row-reverse;
                .service-content {
                    .desc-list-items {
                        margin: 0;
                        li {
                            list-style: none;
                            position: relative;
                            &:before {
                                content: '';
                                background: #e9e5e5;
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                left: -20px;
                                top: 40%;
                                border-radius: 50px;
                            }
                        }
                    }
                }
                .service-thumbnail {
                    text-align: center;
                    .serviceIcon {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.info-buttons-services {
    position: relative;
    bottom: 50px;
    left: 55px;
}
