<div id="service-banner" class="section-wrapper">
    <services-banner></services-banner>
</div>
<div class="info-buttons-services">
    <info-buttons></info-buttons>
</div>
<div id="service" class="section-wrapper">
    <div class="service-list-items">
        <div class="service-list-item" *ngFor="let servicesItem of servicesItems; let i = index" [ngClass]="{'odd': i%2==0, 'even':i%2==1}">
            <div class="row service-item">
                <div class="col-sm-6">
                    <div class="service-content">
                        <div class="section-caption">
                            <span class="bigletter">
                            <span style="vertical-align: inherit;"> {{servicesItem.bigLetter}} </span>
                            </span>
                            <h1 class="headline">
                                <span class="write-text">
                        <span class="outer-wrapper"><span class="inner-wrapper top"> {{servicesItem.headLine}} </span></span>
                                </span>
                            </h1>
                            <div class="description">
                                <p> {{servicesItem.description}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="service-thumbnail">
                        <img src=" {{servicesItem.serviceIcon}} " class="serviceIcon" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
