.about-us-banner {
    position: relative;
    margin-bottom: 50px;
    .banner-img {
        img {
            position: absolute;
            right: 0px;
        }
    }
    .banner-caption {
        padding: 50px 55px;
        max-width: 650px;
        .bigletter {
            color: #f0eff3;
            font-size: 150px;
            font-weight: bolder;
            line-height: 1.5;
            position: relative;
            bottom: 60px;
        }
        h1 {
            font-family: cambria;
            font-size: 35px;
            font-weight: bold;
            line-height: 1.5;
            color: #222222;
            position: absolute;
            top: 130px;
            left: 55px;
            .top {
                display: block;
            }
        }
        .short-description {
            position: relative;
            bottom: 80px;
        }
    }
    .info-buttons-wrapper {
        bottom: 80px;
        left: 55px;
    }
}

@media screen and (max-width: 1366px) {
    .about-us-banner {
        .banner-img {
            img {
                width: 60%
            }
        }
        .banner-caption {
            padding: 50px;
            .bigletter {
                font-size: 150px;
            }
            h1 {
                top: 190px;
                .top {
                    display: block;
                }
            }
        }
    }
}
