<div class="main-footer">
    <div class="content">
        <div class="row">
            <div class="col-sm-4">
                <footer-nav-bar></footer-nav-bar>
            </div>
            <div class="col-sm-4">
                <div class="follow-us">
                    <div class="title">
                        <p>Follow Us</p>
                    </div>
                    <div class="follow-divider"></div>
                    <footer-social-links></footer-social-links>
                </div>
            </div>
            <div class="col-sm-4">
                <footer-contactus></footer-contactus>
            </div>
        </div>
    </div>
</div>