.main-footer {
    color: #fff;
    text-align: left;
    .follow-us {
        text-align: center;
        font-size: 16px;
        p {
            margin-bottom: 0px;
        }
        .follow-divider {
            height: 80px;
            width: 1.5px;
            background: #d4c9ef;
            text-align: center;
            margin: 15px auto;
        }
    }
}