<div class="testimonials">
    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="section-content">
                                <div class="testimonials-items">
                                    <div class="testimonials-items-list bigThumbnail">
                                        <div class="testimonials-item-thumbnail">
                                            <img src="../../../assets/images/client.png" class="img-fluid" alt="Client">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="section-caption">
                                <span class="bigletter">
                          <span style="vertical-align: inherit;">
                              <span style="vertical-align: inherit;">W</span>
                                </span>
                                </span>
                                <h1 class="headline">
                                    <span class="write-text">
                              <span class="outer-wrapper">
                                  <span class="inner-wrapper top">What Our Clients Say

                                      </span>
                                    </span>
                                    </span>
                                </h1>
                                <p class="description">
                                    <span><span class="qoute"><img src="../../../assets/images/qoute-start.png" class="img-fluid" alt="Qoute"></span>We're a group of experienced, enthusiastic, and innovative developers and designers, specialized in delivering
                                    great products to our customers. Our expertise is modern create tools and technologies that help create projects success.<span class="qoute"><img src="../../assets/images/qoute-end.png" class="img-fluid" alt="Qoute"></span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="section-content">
                                <div class="testimonials-items">
                                    <div class="testimonials-items-list bigThumbnail">
                                        <div class="testimonials-item-thumbnail">
                                            <img src="../../../assets/images/client.png" class="img-fluid" alt="Client">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section-caption">
                                <span class="bigletter">
                            <span style="vertical-align: inherit;">
                                <span style="vertical-align: inherit;">W</span>
                                </span>
                                </span>
                                <h1 class="headline">
                                    <span class="write-text">
                                <span class="outer-wrapper">
                                    <span class="inner-wrapper top">What Our Clients Say

                                        </span>
                                    </span>
                                    </span>
                                </h1>
                                <p class="description">
                                    <span><span class="qoute"><img src="../../../assets/images/qoute-start.png" class="img-fluid" alt="Qoute"></span>We're a group of experienced, enthusiastic, and innovative developers and designers, specialized in delivering
                                    great products to our customers. Our expertise is modern create tools and technologies that help create projects success.<span class="qoute"><img src="../../assets/images/qoute-end.png" class="img-fluid" alt="Qoute"></span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="section-content">
                                <div class="testimonials-items">
                                    <div class="testimonials-items-list bigThumbnail">
                                        <div class="testimonials-item-thumbnail">
                                            <img src="../../../assets/images/client.png" class="img-fluid" alt="Client">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section-caption">
                                <span class="bigletter">
                            <span style="vertical-align: inherit;">
                                <span style="vertical-align: inherit;">W</span>
                                </span>
                                </span>
                                <h1 class="headline">
                                    <span class="write-text">
                                <span class="outer-wrapper">
                                    <span class="inner-wrapper top">What Our Clients Say

                                        </span>
                                    </span>
                                    </span>
                                </h1>
                                <p class="description">
                                    <span><span class="qoute"><img src="../../../assets/images/qoute-start.png" class="img-fluid" alt="Qoute"></span>We're a group of experienced, enthusiastic, and innovative developers and designers, specialized in delivering
                                    great products to our customers. Our expertise is modern create tools and technologies that help create projects success.<span class="qoute"><img src="../../assets/images/qoute-end.png" class="img-fluid" alt="Qoute"></span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>
