$primary_color: #5A4292;
$primary_fontFamily: Helvetica;
$second_fontFamily: cambria;
$bigletter_size: 150px;
$bigletter_color: #f0eff3;
$headline_size: 40px;
$headline_color: #222222;
$headline_font_wieght: bold;
$font_style: normal;
$font_stretch: normal;
$letter_spacing: normal;
// Header
$header_bg: #463177;
