@import './variables';
@font-face {
    font-family: $second_fontFamily;
    src: url(./assets/fonts/cambria.ttf) format("truetype");
}

// General Styles
* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    background-color: #FFFFFF;
}

body {
    font-family: '$primary_fontFamily', sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    color: $primary_color;
}

a:active,
a:hover {
    outline-width: 0;
    text-decoration: none;
    color: $primary_color;
}

p {
    font-size: 16px;
    line-height: 28px;
}

// Services Section
.section-wrapper {
    padding: 5% 55px;
    position: relative;
}

.section-wrapper.site-main {
    display: flex;
}

.draggable-btn {
    position: absolute;
    right: 25px;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    width: 80px;
    height: 80px;
    margin: 20px 0 0px;
    .x-btn {
        position: relative;
        top: 0;
        -webkit-transition: all 180ms ease-out;
        transition: all 180ms ease-out;
        width: 80px;
        height: 80px;
        display: block;
        border-radius: 50%;
        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
        }
        &:before {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.05);
            z-index: -1;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 175ms ease;
            transition: all 175ms ease;
        }
        &:after {
            border-radius: 50%;
            background-color: $primary_color;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            -webkit-transition: all 350ms ease;
            transition: all 350ms ease;
        }
        span {
            display: block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid $primary_color;
            -webkit-transition: all 350ms ease;
            transition: all 350ms ease;
            &:before,
            &:after {
                content: '';
                display: block;
                background-color: #ffffff;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transition: all 350ms ease;
                transition: all 350ms ease;
            }
            &:before {
                width: 43px;
                height: 2px;
            }
            &:after {
                width: 2px;
                height: 43px;
            }
        }
        &:hover {
            cursor: pointer;
            &:after {
                background: #f0eff3;
            }
            span {
                -webkit-transform: scale(0.80);
                -ms-transform: scale(0.80);
                transform: scale(0.80);
                &:before,
                &:after {
                    background-color: $primary_color;
                }
            }
        }
    }
}

.section-caption {
    position: relative;
    .bigletter {
        font-size: 150px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #f0eff3;
    }
    .headline {
        font-size: 40px;
        position: absolute;
        top: 100px;
        left: 5px;
        margin: 0;
        font-family: Cambria;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 70px;
        letter-spacing: normal;
        text-align: left;
        color: #222222;
    }
    .description {
        margin: 15px 5px;
        font-family: Helvetica;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #222222;
    }
    .draggable-btn {
        right: 25px;
    }
}

.info-buttons-wrapper {
    height: 50px;
    position: relative;
    z-index: 30;
    width: 100%;
    -webkit-transition: all 2300ms ease 1800ms;
    transition: all 2300ms ease 1800ms;
    .show {
        width: 100%;
    }
    .container-fluid {
        position: absolute;
        top: 65%;
        left: 40px;
        right: 0;
        margin: 0 auto;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        .popart-btn {
            text-transform: uppercase;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            color: #333;
            line-height: 1;
            border: 2px solid #333;
            border-radius: 30px;
            background-color: transparent;
            width: 220px;
            padding: 19px 0 17px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            overflow: hidden;
            outline: none;
            -webkit-transition: 350ms ease;
            transition: 350ms ease;
            margin-right: 30px;
            &:before {
                content: "\f068";
                display: block;
                background-color: #ffffff;
                opacity: 0;
                position: absolute;
                top: 55%;
                left: 0px;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                transition: all 350ms ease;
                font-family: fontAwesome;
                font-size: 3px;
            }
            &:after {
                content: "\f105";
                font-size: 25px;
                color: #ffffff;
                opacity: 0;
                position: absolute;
                top: 30%;
                right: 15px;
                transition: all 350ms ease;
                font-family: FontAwesome;
                font-weight: 300;
            }
            &:hover {
                background: $primary_color;
                text-decoration: none;
                color: #ffffff;
                border: 2px solid transparent;
                &:before {
                    opacity: 1;
                    width: 25px;
                    left: 173px;
                }
                &:after {
                    opacity: 1;
                    text-indent: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .section-caption {
        position: relative;
        .bigletter {
            font-size: 125px;
        }
        .headline {
            top: 70px;
        }
        .description {
            width: 100%;
            font-size: 16px;
        }
        .draggable-btn {
            right: 25px;
        }
    }
    .info-buttons-wrapper {
        .container-fluid {
            top: 50%;
        }
    }
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 45%;
  width: auto;
  height: 50px;
  color: #fff;
  opacity: 0.5;
  background: #5a4292;
  padding: 10px;
  border-radius: 50px;
}
.carousel-control-prev {
  left: -150px;
}
.carousel-control-next {
  right: -125px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    padding: 15px;
}