<div class="subscribe">
    <div class="subscribe-head">
        <h6>{{title}}</h6>
        <p> {{ description }} </p>
    </div>
    <div class="subscribe-box">
        <input type="text" placeholder="Email" />
        <button type="button" class="subscribe-now"> {{btnValue}} </button>
    </div>
</div>
