.subscribe {
    color: #ffffff;
    .subscribe-box {
        input {
            width: 100%;
            padding: 8px 20px;
            background: transparent;
            border: 1px solid #583d98;
        }
        .subscribe-now {
            width: 100%;
            padding: 10px;
            border-radius: 1px;
            border: solid 0.5px #ffffff;
            background-color: #ffffff;
            color: #463177;
            margin-top: 20px;
        }
    }
}
