<!-- Start Banner Section -->
<home-banner></home-banner>
<!-- End Banner Section -->

<!-- Start Services Section -->
<div id="home-services" class="section-wrapper">
    <home-services></home-services>
</div>
<!-- End Services Section -->

<!-- Start How Works Section -->
<div id="how-works" class="section-wrapper">
    <how-works></how-works>
</div>
<!-- End How Works Section -->

<!-- Start About Us Section -->
<div id="home-about" class="section-wrapper">
    <home-about></home-about>
</div>
<!-- End About Us Section -->

<!-- Start Our Projects Section -->
<div id="our-projects" class="section-wrapper">
    <home-projects></home-projects>
</div>
<!-- End Our Projects Section -->

<!-- Start Testimonials Section -->
<div id="testimonials" class="section-wrapper">
    <testimonials></testimonials>
</div>
<!-- End Testimonials Section -->

<!-- Start Our Clients Section -->
<div id="our-clients">
    <clients></clients>
</div>
<!-- End Our Clients Section -->
