<div class="how-works">
    <div class="row">
        <div class="col-md-5">
            <div class="section-caption">
                <span class="bigletter">
                  <span style="vertical-align: inherit;"> {{ bigLetter }} </span>
                </span>
                <h1 class="headline">
                    <span class="write-text">
                      <span class="outer-wrapper">
                        <span class="inner-wrapper top"> {{headLine}} </span>
                    </span>
                    </span>
                </h1>
                <p class="description">
                    <span> {{description}} </span>
                </p>
                <div class="draggable-btn">
                    <a class="x-btn load-cta" routerLink="about-us"><span></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="section-content">
                <div class="how-works-items">
                    <div class="col-sm-4 works-items-list" *ngFor="let howWorksItem of howWorksItems; let i = index" [ngClass]="{'odd': i==1, 'even':i==4}">
                        <div class="works-item-head">
                            <h5 class="title "><span class="work-item-count "> {{howWorksItem.id}} </span> {{howWorksItem.title}} </h5>
                            <p> {{howWorksItem.description}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
