.how-works {
    p.description {
        max-width: 600px;
    }
    .works-items-list {
        max-width: 240px;
        height: 200px;
        border-radius: 3px;
        box-shadow: 0 6px 18px 0 #00000029;
        padding: 20px;
        display: inline-block;
        margin: 10px 10px;
        &.odd {
            position: relative;
            top: -25px;
        }
        &.even {
            position: relative;
            top: -25px;
        }
        &:after {
            content: '';
            background-color: #5a4292;
            height: 10px;
            width: 0%;
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: all 350ms ease;
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }
        .works-item-head {
            h5 {
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: left;
                span {
                    font-family: Cambria;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2.5;
                    letter-spacing: normal;
                    text-align: left;
                    color: #f0eff3;
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .how-works {
        .works-items-list {
            width: 230px;
        }
    }
}

@media screen and (max-width: 1366px) {
    .how-works {
        .works-items-list {
            width: 200px;
            padding: 8px;
            margin: 5px 5px;
        }
    }
}
