.footer-links {
    ul {
        padding: 0px;
        li {
            list-style: none;
            margin: 5px 0px;
            a {
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
            }
        }
    }
}